
/*  Header Styling  */
header {
    background-color: #755b69;
    height: fit-content;
    border-bottom: 10px solid #593F62;
    width: 100%;
}

.titleBox {
    background-color: #593F62;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

nav {
    height: fit-content;
    padding: 1rem;
    text-align: center;
}

a {
    margin: 0 1rem;
}
.wrapper {
    width: fit-content;
    margin: 0 auto;
    display: table;
}


/*  MainBox styling*/
h1 {
    font-size: 20px;
    font-weight: 600;
}
.hr {
    height: 5px;
    background-color: #111;
    border-color: #111;
}

.mainContent {
    background-color: #755b69;
    height: fit-content;
    border: 5px solid #593F62;
    padding: 1rem;
    margin: 30px 0;
}

.contentImage {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}


/*  contactBox styling */
.contactBox {
    height: fit-content;
    background-color: #755b69;
    padding: 30px;
    margin: 30px 0;
    border: 5px solid #593F62;
    align-items: inline;
}
.iconLinks {
    max-width: 64px;
    max-height: 64px;
}


/*  footer Styling  */
footer {
    height: 150px;
    background-color: #755b69;
    border-top: 30px solid #593F62;
    text-align: center;
    width: 100%;
}

/*  Header elements get merged onto the same line */
@media (min-width: 768px) {
    .titleBox {
        width: fit-content;
        margin: 0 auto;
        display: inline-block;
    }
    nav {
        display: inline-block;
    }
    .wrapper {
        margin: 0 10%;
    }
}

@media (min-width: 980px) {

    .mainContent {
        max-width: 650px;
        float: left;
    }
    .contactBox {
        max-width: 270px;
        margin-left: 2rem;
        margin-right: 0;
        float: left;

    }
    .wrapper {
        width: 100%;
    }


    
}